html {
    scroll-behavior: smooth;
}

canvas {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    background-color: #93bbec;
    font-size: 20px;
    color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: right;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: gray;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background-color: blueviolet;
}

ul li:hover ul.dropdown {
    display:block;
}

.whisper{
    font-family: monospace;
    font-style:italic;
    font-size: 8px;
}

header{
    text-decoration: underline;
}

footer{
    background: green;
    text-align: center;
    padding: 5px;
}



/* Dropdown container*/
.flex-container{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    background-color: aquamarine;
}

img{
    border-radius: 75px;
}


/*Projects Page
*/
#pastProjects, #currentProjects {
    height: 600px;
    width: 300px;
}

#birthday {
    color: red;
    font-size: 80px;
}